* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Zen Dots", cursive;
  font-size: 16px;
}

#LogoImage {
  width: 80px;
  height: 90px;
  display: block;
  cursor: pointer;
  margin-right: auto;
  padding: 8px;
  position: inline-block;
}

main {
  min-height: 100%;
  overflow: auto;
}

Body {
  background-color: #1e3d59;
  height: 100%;
  min-height: 100vh;
}

/*New menu code*/
#Body {
  height: 100%;
  background: #1e3d59;
}

/* Color Stuff*/

#Gray {
  color: #d5dbdf;
}

.circle {
  width: 200px;
  height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ff0000;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 2rem;
  text-align: center;
}

.profile-section-left h1,
.profile-section-left h2,
.profile-section-left p {
  color: #d5dbdf;
}

.profile-section-right h1,
.profile-section-right h2,
.profile-section-right p {
  color: #2c334d;
}

.container h1 {
  font-weight: 800;
  font-family: "Bungee Inline", cursive;
  font-size: 2.5em;
  margin: 3rem;
}

.container h2 {
  padding-bottom: 20px;
  font-size: 1.4em;
}

.container p {
  font-size: 1.4em;
  font-weight: 800;
  color: #ced7d8;
}

/* Control the left side */
.right {
  position: relative;
  width: 70%;
  float: right;
  height: 100%;
  background-color: #1e3d59;
  z-index: 1010101010;
}

/* Control the right side */
.left {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
  background-color: #1e3d59;
  z-index: 1010101010;
}

.center img {
  height: 100px;
}

.separator {
  display: block;
  position: relative;
}

header {
  display: block;
  margin-right: auto;
  padding: 8px;
  position: inline-block;
  width: 100%;
  height: 8vh;
  background-color: #1e3d59;
}

/* Grid code */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: stretch;
  margin-top: 0.2rem;
}

.btn {
  background-color: #ced7d8;
  color: #2c334d;
  padding: 20px 130px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  cursor: pointer;
  transition: 0.2s, box-shadow 0.2s;
  margin: 4px;
  display: inline-block;
  text-align: center;
  word-wrap: break-all;
  position: relative;
  border: 3px solid #000000;
}

.btnz {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  word-wrap: break-all;
  margin: 5px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  padding: 10px;
  font-weight: 800;
}

.btn .icon {
  min-width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.color .btn:hover {
  background-color: rgb(90, 90, 141);
  color: #1d8f9e;
  display: block;
  border: 3px solid #1d8f9e;
}

.btn1 {
  justify-self: stretch;
  grid-area: btn1;
}

.btn2 {
  justify-self: stretch;
  grid-area: btn2;
}

.btn3 {
  justify-self: stretch;
  grid-area: btn3;
}

.btn4 {
  justify-self: stretch;
  grid-area: btn4;
}

.btn5 {
  justify-self: stretch;
  grid-area: btn5;
}

.btn6 {
  justify-self: stretch;
  grid-area: btn6;
}

@media screen and (max-width: 1500px) {
  .btn {
    padding: 20px 100px;
    margin: 4px;
  }
}

@media screen and (max-width: 1300px) {
  .btn {
    padding: 20px 70px;
    margin: 4px;
  }
}

@media screen and (max-width: 1100px) {
  .btn {
    padding: 20px 50px;
    margin: 4px;
  }
}

@media screen and (max-width: 1000px) {
  .btn {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 750px) {
  .btn {
    padding: 10px 10px;
  }
  .btnz {
    font-size: 15px;
  }
}

/*Footer Stuff*/
.FooterContainer {
  background-color: #ced7d8;
  position: relative;
  margin-top: -100px;
  clear: both;
  padding: 2rem 0 1rem;
  margin: 1rem auto 0;
  box-sizing: border-box;
  display: block;
  bottom: 0;
}

.Footer {
  width: 80%;
  height: 15vh;
  background-color: #ced7d8;
  color: #1e3d59;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  bottom: 0;
}

.FooterHeading {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.FooterHeading h2 {
  margin-bottom: 1rem;
  font-size: 1.4em;
  color: #1e3d59;
  font-weight: bold;
}

.FooterHeading a {
  color: #1e3d59;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.FooterHeading a:hover {
  color: #415ee2;
  transition: 0.3s ease-out;
}

/*Nav Menu configuration*/
header li,
header a,
header Button {
  font-weight: 800;
  font-size: 1em;
  text-decoration: none;
  color: #ced7d8;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerDiv {
  display: block;
  margin-right: auto;
}

.NavMenu {
  display: inline-block;
  margin-right: 20px;
  list-style: none;
}

.NavMenu li {
  display: inline-block;
  padding: 0px 20px;
}

.NavMenu li a {
  transition: all 0.5s ease 0s;
}

.NavMenu li a:hover {
  color: #6072c4;
}

/*ScrollBar styling*/
/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(105, 133, 143); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(51, 63, 68); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px; /* creates padding around scroll thumb */
}

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(51, 63, 68) rgb(105, 133, 143);
}

/*Style for different dimensions*/
@media screen and (max-width: 802px) {
  .Footer {
    padding-top: 2rem;
    height: 18vh;
  }

  .FooterHeading h2 {
    font-size: 1.2em;
  }

  .FooterHeading a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 690px) {
  .Footer {
    padding-top: 2rem;
    height: 20vh;
  }

  .FooterHeading {
    width: 25%;
  }

  .FooterHeading h2 {
    font-size: 1.2em;
  }

  .FooterHeading a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 560px) {
  #NavButton {
    display: none;
  }
}

@media screen and (max-width: 492px) {
  .Footer {
    padding-top: 2rem;
    height: 35vh;
  }

  .FooterHeading {
    width: 20%;
  }

  .FooterHeading h2 {
    font-size: 1em;
  }

  .FooterHeading a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 313px) {
  .Footer {
    padding-top: 2rem;
    height: 50vh;
  }
}

@media screen and (max-height: 581px) {
  .Footer {
    padding-top: 2rem;
    height: 40vh;
  }
}

@media screen and (max-height: 523px) {
  .Footer {
    padding-top: 2rem;
    height: 40vh;
  }
}

@media screen and (max-height: 260px) {
  .Footer {
    padding-top: 2rem;
    height: 50vh;
  }
}

@media screen and (max-height: 208px) {
  .Footer {
    padding-top: 2rem;
    height: 80vh;
  }
}

@media screen and (max-height: 131px) {
  .Footer {
    padding-top: 2rem;
    height: 100vh;
  }
}

@media screen and (max-height: 105px) {
  .Footer {
    padding-top: 2rem;
    height: 150vh;
  }
}

@media screen and (max-height: 70px) {
  .Footer {
    padding-top: 2rem;
    height: 200vh;
  }
}
